*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Variaveis de Tamanho de Fonte*/
        --tamanhoFonteMenu:1.6rem;
        --tamanhoFonteH1:2.6rem;
        --tamanhoFonteH2:2.6rem;
        --tamanhoFonteP-Certificados: clamp(1.5rem, 0.1rem + 3vw ,2.2rem);
        --tamanhoFonteAFooter:1.2rem;

    /*Variaveis de largura*/
    --iconeMenuLargura:3rem;
    /*Font Family*/
    --FontFamilyPrimeiroConteudoP:sans-serif;
   /*Variaveis de cores*/
        /*Cores de fundo*/
            --corFundoHeader:white;
            --corFundoBody:rgba(217, 238, 242, 0.35);
            --corBotaoFecharNav:rgb(21 224 251);
            --corBotao:rgb(27 194 229) ;
            --corFundoH1:rgb(255, 255, 255);
            --corFundoStatus:rgba(206, 220, 255, 0.53);
            --corFundoFooter:rgb(255, 255, 255);
            --corFundoIcons:white;
            --corFundoForm:rgb(0 0 0 / 22%);
            

        /*Cores letras*/    
            --corLetrasMenu:rgb(34, 43, 44);
            --corAFooter:black;
            --corLegend:rgb(61 61 61);
            --corSpan:rgba(61, 61, 61, 0.733);

            --ff-title:'Staatliches', cursive;
            --ff-text:'Poppins', sans-serif;

    font-size: 62.5%;
}

body{
    margin: 0 auto;
    background-color: var(--corFundoBody);
}
/* Formatacao do Header*/
header{ 
    margin: 1rem 2rem 0 ;
    padding: 0 2rem;
    
    background-color: var(--corFundoHeader);
    display: flex;
    justify-content: space-between;
    align-items:center; 

    box-shadow: 1px 1px 5px rgba(12, 12, 12, 0.788);
    border-radius: 20px;
}
header a .logo{
    width: clamp(1.9rem, 2rem + 30vw ,25.1rem);
    height: fit-content;
    object-fit: cover;
}
header .botoes{
    display: flex;
    flex-direction: column;

    margin-right: 3rem;
}
header a{
    font-size: var(--tamanhoFonteMenu);
    color:var(--corLetrasMenu) ;
}
header a:hover{
    opacity: 0.6;
    color: rgb(0, 166, 243);
    text-decoration: none;
}
.icone-menu{
    width: var(--iconeMenuLargura);
} 
.botoes{
    animation: animaMenu 600ms 1 300ms;
}
.botaoFechar{
    width: 3rem;
    height: 3rem;

    background-color:var(--corBotaoFecharNav);
    
    opacity: 0.7;
    
    border: none;
    box-shadow: 1px 2px 5px black;
    border-radius: 50%;

    margin: 1rem auto;
}
header nav .botaoFechar:hover{
    cursor: pointer;
    opacity: 0.4;
}
.remove{
opacity: 0;
}

/*Formatacao do main*/
main{
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    background-color: var(--corFundoH1);

    width: clamp(38.5rem, 15rem + 50vw , 90rem);
    
    padding: 2rem 4rem;
    border-radius: 20px 20px 20px 20px;
}
main section{
    
    max-width: 69rem;
    padding: 2rem 4rem;
    
}
main section h1{
    font-family: var(--ff-title);
    font-size: clamp(2.2rem, 1px + 20vw , 3.2rem);  
}
main p{
    font-family: var(--ff-text);
}
main section p {
    font-family: var(--ff-text);
    font-size: clamp(1.2rem, 1px + 2vw, 2.2rem);  
    margin-top: 1rem;
}
main form{
    background-color: var(--corFundoForm);
    width: clamp(32.5rem, 15rem + 50vw , 55rem);
    padding: 2rem 4rem;
    border-radius: 0 0 20px 20px;
}
main .informacoes-pessoais-cliente{
    display: grid;
    grid-template-areas:
        "titulo titulo"
        "nome sobrenome"
        "email email"
        "texto texto";
    grid-template-columns: 1fr 1fr;
}
main form legend{
    font-family: var(--ff-title);
    font-size: clamp(2.0rem, 1px + 20vw , 2.6rem);  
    color: var(--corLegend);
}
main form .nomeCliente{
    grid-area: nome;
    width:clamp(13rem, 1rem + 20vw , 20rem) ;
    font-size: clamp(1.6rem, 1px + 30vw, 2rem);
}
main form .sobrenomeCliente{
    grid-area: sobrenome;
    width:clamp(14rem, 1rem + 20vw , 20rem) ;
    margin-left: 5px;
    font-size: clamp(1.6rem, 1px + 30vw, 2rem);
}
main form .emailCliente{
    grid-area: email;
    max-width: 46rem;
    margin-top: 2rem;
    font-size: clamp(1.6rem, 1px + 30vw, 2rem);
}
main form .emailCliente span{
    font-size: clamp(1rem, 0.5px + 1vw, 1.4rem);
    color: var(--corSpan);
}
main form .descricao-projeto{
    grid-area: textoCliente;
    margin-top: 2rem;
}
main form .button-form{
    margin: 1rem auto;  
    height: 5.5rem;
    width: 100%;
    font-family: var(--ff-title);
    font-size: clamp(1.8rem, 1px + 20vw , 2.2rem); 
    background-color: var(--corBotao);
    color: azure;
}
main form .nomeCliente, .sobrenomeCliente, .emailCliente{
    display: flex;
    flex-direction: column;

}
main form .descricao-projeto .textoProjeto input{
    width:clamp(28rem, 2rem + 55vw, 46rem);
    height: 30rem;
}
main form label{
    font-family: var(--ff-text);
    font-size: clamp(1.4rem, 1px + 2vw, 1.8rem); 
    color: var(--corLegend);
}    
main form input{
    height: 3.5rem;
    border: none;
    border-radius: 45px;
}



/*Formatacao do Footer*/
footer{
    width: 100vw;
    background-color:var(--corFundoFooter) ;
    border-top: 1px solid  rgba(0, 0, 0, 0.178);

    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding:0 15px 15px 0 ;
    gap: 5px;
}
footer .logoFooter{
    width: clamp(18rem, 3rem + 40vw , 21rem);
    margin: 3.5rem 1.4rem 2.8rem 2.2rem;
}
footer section{
    display: flex;
    flex-direction: column;
    align-items: start;
}
footer section a{
    margin:3.5rem 1rem 0 0;
    font-size: var(--tamanhoFonteAFooter);
    color: var(--corAFooter);

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
}
footer section :nth-child(3){
    margin-left: 5px;
}
footer section a:hover{
    opacity: 0.6;
    color: rgb(0, 166, 243);
    text-decoration: none;
}


/* Animacao do menu ao abrir*/
@keyframes animaMenu {
    0%{
        opacity: 0.2;
        transform: translate3d(0px);
    }
   
    100%{
        opacity: 1;
        transform: translateY(-10px)
    }
}

/*adicionando Media Query*/
@media (min-width:750px) {
    /*Estilizando a página para desktop utilizando a media query*/
    
    /*Estilizando o header*/
    header{ 
        margin: 1rem 2rem 0 ;
        padding: 0 4rem;
    }    
    header a{
        font-size: 2rem;
    } 
    /*Estilizando o main*/ 
       
   
    /*Estilizando o footer*/
    footer{
        justify-content: space-around;
        align-items: center;
    } 
    footer .logoFooter{
        max-width: 20rem;
    }
    footer section{
        flex-direction: row;
        gap: 4rem;
        align-items: center;
    }
    footer section p{
        font-size:clamp( 1.2rem, 0.1rem + 1vw ,1.6rem);
    }
    footer section img{
     width: 3rem;   
    }
    footer section :nth-child(3) img{
        margin-top: -6px;
    }
}
